
<div class="grid-container">
  <h1 class="mat-h1">{{studentDto?.firstname}} {{studentDto?.lastname}}'s Details</h1>
  <div class="bio">
      <img src="" height="200" width="200">
    </div>
    <span>Profile Photo</span>
   
</div>
<div class="search_field">
<mat-tab-group color="accent">
    <mat-tab label="Students Detail">
      <mat-toolbar color="accent">
          <span>Student Bio</span>
      </mat-toolbar>
    </mat-tab>


    <mat-tab label="Accadmic Detail">
      <mat-toolbar color="warn">
          <span>Academic Details</span>
      </mat-toolbar>
    </mat-tab>



    <mat-tab label="Health Detail">
        <mat-toolbar color="primary">
            <span>Health Details</span>
        </mat-toolbar>
    </mat-tab>
</mat-tab-group>
 </div>

