
<mat-card>
<mat-toolbar color="accent">Password Change</mat-toolbar>
  <mat-card-content>
    <form novalidate #passwordChangeForm="ngForm" (ngSubmit)="passwordChange()" fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="center center">
      <mat-spinner style="display: block" [diameter]="50" *ngIf="showSpinner"></mat-spinner>
      <mat-form-field color="accent">
        <mat-label>Old Password</mat-label>
        <input type="password"
               matInput
               [(ngModel)]="model.oldPassword"
               name="oldPassword"
               required />
        <mat-icon matSuffix>visibility_off</mat-icon>
      </mat-form-field>

      <mat-form-field color="accent" hintLabel="Should be atleast 6 characters">
        <mat-label>New Password</mat-label>
        <input type="password"
               matInput
               [(ngModel)]="model.newPassword"
               name="newPassword"
               minlength="6"
               required />
        <mat-icon matSuffix>visibility_off</mat-icon>
        <mat-error>Should be atleast 6 characters</mat-error>
      </mat-form-field>

      <mat-form-field color="accent">
        <mat-label>Confirm Password</mat-label>
        <input type="password"
               matInput
               [(ngModel)]="model.confirmPassword"
               name="confirmPassword"
               required />
        <mat-icon matSuffix>visibility_off</mat-icon>
        <mat-error *ngIf="!(model.confirmPassword == model.newPassword)">Password do not match</mat-error>
      </mat-form-field>
      <button type="submit" mat-raised-button color="primary" [disabled]="!passwordChangeForm.form.valid">Submit</button>
    </form>

  </mat-card-content>
</mat-card>


