
<div class="grid-container">
  <h1 class="mat-h1">{{nStaff?.firstname}} {{nStaff?.lastname}}'s Details</h1>
</div>
<mat-nav-list>
  <mat-toolbar> Class Assigned to {{nStaff?.firstname}} {{nStaff?.lastname}} </mat-toolbar>
  <mat-list-item *ngFor="let class of classAssigned">
    <mat-icon class="icon">school</mat-icon>
    <span>
      {{class?.name}}
    </span>
  </mat-list-item>
</mat-nav-list>

  <div class="search_field">
    <mat-tab-group color="accent" (click)="retrieveAllStudentsInClass(class.id)">
      <mat-tab label="Students List">
        <mat-toolbar color="accent">
          <span>Students List</span>
        </mat-toolbar>
        <mat-list-item *ngFor="let student of students">
          <mat-icon class="icon">supervised_user_circle</mat-icon>
          <span>
           <a (click)="navigateToStudent(student.id)"> Fullname: {{student?.firstname}} {{student?.firstname}}  &nbsp;&nbsp; Gender: {{student?.gender}}</a>
          </span>
        </mat-list-item>
      </mat-tab>


      <mat-tab label="Accadmic Detail">
        <mat-toolbar color="warn">
          <span>Academic Details</span>
        </mat-toolbar>

      </mat-tab>



      <mat-tab label="Health Detail">
        <mat-toolbar color="primary">
          <span>Health Details</span>
        </mat-toolbar>
      </mat-tab>
    </mat-tab-group>
  </div>

